* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;

  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 60px;
  background-color: #000;

  display: flex;
  justify-content: center;
  align-items: center;
}

header h2 {
  color: white;
  padding: 10px;
  text-align: start;
  font-weight: 100;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 32px;

  margin: 32px 0 0;
  padding: 0 16px;
}

main h1 {
  font-weight: 100;
  width: 100%;
}

#todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;

  height: 32px;
  width: 100%;
}

#todo-form * {
  font-size: 16px;
}

#todo-form button {
  background: #2b8fba;
  color: #fff;
  border: none;
  border-radius: 4px;
  height: 100%;
  padding-inline: 12px;
}

#todo-form button:hover {
  background: #33aadd;
  cursor: pointer;
}

#todo-input {
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  height: 100%;
  padding-inline: 12px;

  flex: 1;
}

#todo-input:hover {
  border: 1px solid #2b8fba;
}

#todo-input:active,
#todo-input:focus,
#todo-input:focus-visible {
  outline: none;
  border: 1px solid #2b8fba;
}

#todo-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#todo-list:not(:empty) {
  border: 1px solid #d2d2d2;
  border-radius: 4px;
}

#todo-list li {
  list-style: none;
  padding: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

#todo-list li:not(:last-child) {
  border-bottom: 1px solid #d2d2d2;
}

.task-checkbox {
  width: 16px;
  height: 16px;
  accent-color: #2b8fba;
}

.task-text {
    flex: 1;
}

.task-text.completed {
  text-decoration: line-through;
  color: #888888;
}

.delete-btn {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-btn svg g:hover {
  cursor: pointer;
  fill: #ff0000;
}

@media (min-width: 768px) {
  header h2 {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 540px) {
  main {
    width: 540px;
    margin: 64px 0 0;
    padding: 0;
  }
}
